.MuiFormControl-root {
    border: 0;
    margin: 0;
    display: inline-flex;
    padding: 0;
    position: relative;
    min-width: 0px;
    flex-direction: column;
    vertical-align: top;
}
.jss61 {
    margin: 8px;
    min-width: 120px;
}
.jss53 {
    margin: auto;
    display: flex;
    outline: 0;
    position: relative;
    justify-content: center;
}
/* @media all and (min-width:600px) */
.jss53 {
    border-radius: 4px;
}
.jss54 {
    border: 1px solid rgba(0, 0, 0, 0.12);
    padding: 24px;
    border-left-width: 0px;
    border-right-width: 0px;
}
/* @media all and (min-width:600px) */
.jss54 {
    border-left-width: 1px;
    border-right-width: 1px;
}
.jss52 {
    margin-left: -16px;
    margin-right: -16px;
    margin-bottom: 40px;
}
/* @media all and (min-width:600px) */
.jss52 {
    padding: 0px 8px;
    margin-left: 0px;
    margin-right: 0px;
}
.MuiContainer-root {
    width: 100%;
    display: block;
    box-sizing: border-box;
    margin-left: auto;
    margin-right: auto;
    padding-left: 16px;
    padding-right: 16px;
}
/* @media all and (min-width:600px) */
.MuiContainer-root {
    padding-left: 24px;
    padding-right: 24px;
}
/* @media all and (min-width:960px) */
.MuiContainer-maxWidthMd {
    max-width: 960px;
}
.jss50 {
    padding-top: 96px;
}
/* @media all and (min-width:1280px) */
.jss50 {
    padding-left: 48px;
    padding-right: 48px;
}
.jss2 {
    position: relative;
}
#main-content {
    outline: 0;
}
.jss1 {
    width: 100%;
}
/* @media all and (min-width:600px) */
.jss5 {
    width: calc(100% - 175px);
}
/* @media all and (min-width:1280px) */
.jss5 {
    width: calc(100% - 175px - 240px);
}
.jss9 {
    display: flex;
    background-color: #fff;
}
body {
    color: rgba(0, 0, 0, 0.87);
    margin: 0;
    font-size: 0.87rem;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-weight: 400;
    line-height: 1.43;
    letter-spacing: 0.01em;
    background-color: #fff;
}
.MuiFormLabel-root {
    color: rgba(0, 0, 0, 0.54);
    padding: 0;
    font-size: 1rem;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-weight: 400;
    line-height: 1;
    letter-spacing: 0em;
}
.MuiInputLabel-root {
    display: block;
    transform-origin: top left;
}
.MuiInputLabel-formControl {
    top: 0px;
    left: 0px;
    position: absolute;
    transform: translate(0px, 24px) scale(1);
}
.MuiInputLabel-animated {
    transition: color 200ms cubic-bezier(0.0, 0, 0.2, 1) 0ms, transform 200ms cubic-bezier(0.0, 0, 0.2, 1) 0ms;
}
.MuiInputLabel-outlined {
    z-index: 1;
    transform: translate(14px, 20px) scale(1);
    pointer-events: none;
}
.MuiInputBase-root {
    color: rgba(0, 0, 0, 0.87);
    cursor: text;
    display: inline-flex;
    position: relative;
    font-size: 1rem;
    box-sizing: border-box;
    align-items: center;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-weight: 400;
    line-height: 1.18em;
    letter-spacing: 0em;
}
.MuiOutlinedInput-root {
    position: relative;
    border-radius: 4px;
}
.MuiInputBase-input {
    font: inherit;
    color: currentColor;
    width: 100%;
    border: 0;
    height: 1.18em;
    margin: 0;
    display: block;
    padding: 6px 0 7px;
    min-width: 0px;
    background: none;
    box-sizing: content-box;
    animation-name: mui-auto-fill-cancel;
    letter-spacing: inherit;
    animation-duration: 10ms;
    -webkit-tap-highlight-color: transparent;
}
.MuiOutlinedInput-input {
    padding: 18.5px 14px;
}
.MuiSelect-select {
    cursor: pointer;
    min-width: 16px;
    border-radius: 0;
    -moz-appearance: none;
    -ms-user-select: none;
    -webkit-appearance: none;
}
.MuiSelect-outlined {
    border-radius: 4px;
}
.MuiSelect-selectMenu {
    height: auto;
    overflow: hidden;
    min-height: 1.18em;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.MuiInputBase-input:focus {
    outline: 0;
}
.MuiSelect-select:focus {
    border-radius: 0;
    background-color: rgba(0, 0, 0, 0.05);
}
.MuiSelect-select.MuiSelect-select {
    padding-right: 24px;
}
.MuiSelect-outlined.MuiSelect-outlined {
    padding-right: 32px;
}
.MuiSelect-nativeInput {
    left: 0px;
    width: 100%;
    bottom: 0px;
    opacity: 0;
    position: absolute;
    pointer-events: none;
}
.MuiSvgIcon-root {
    fill: currentColor;
    width: 1em;
    height: 1em;
    display: inline-block;
    font-size: 1.5rem;
    transition: fill 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    flex-shrink: 0;
    -ms-user-select: none;
}
.MuiSelect-icon {
    top: calc(50% - 12px);
    color: rgba(0, 0, 0, 0.54);
    right: 0px;
    position: absolute;
    pointer-events: none;
}
.MuiSelect-iconOutlined {
    right: 7px;
}
.jss63 {
    top: -5px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    margin: 0;
    padding: 0 8px;
    overflow: hidden;
    position: absolute;
    border-style: solid;
    border-width: 1px;
    border-radius: inherit;
    pointer-events: none;
}
.MuiOutlinedInput-notchedOutline {
    border-color: rgba(0, 0, 0, 0.23);
}
.jss65 {
    width: auto;
    height: 11px;
    display: block;
    padding: 0;
    font-size: 0.75em;
    max-width: 0.01px;
    text-align: left;
    transition: max-width 50ms cubic-bezier(0.0, 0, 0.2, 1) 0ms;
    visibility: hidden;
}
.jss65 > span {
    display: inline-block;
    padding-left: 5px;
    padding-right: 5px;
}
.MuiPaper-root {
    color: rgba(0, 0, 0, 0.87);
    transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    background-color: #fff;
}
.MuiPaper-rounded {
    border-radius: 4px;
}
.MuiPaper-elevation8 {
    box-shadow: 0px 5px 5px -3px rgba(0,0,0,0.2), 0px 8px 10px 1px rgba(0,0,0,0.14), 0px 3px 14px 2px rgba(0,0,0,0.12);
}
.MuiPopover-paper {
    outline: 0;
    position: absolute;
    max-width: calc(100% - 32px);
    min-width: 16px;
    max-height: calc(100% - 32px);
    min-height: 16px;
    overflow-x: hidden;
    overflow-y: auto;
}
.MuiMenu-paper {
    max-height: calc(100% - 96px);
    -webkit-overflow-scrolling: touch;
}
.MuiList-root {
    margin: 0;
    padding: 0;
    position: relative;
    list-style: none;
}
.MuiList-padding {
    padding-top: 8px;
    padding-bottom: 8px;
}
.MuiMenu-list {
    outline: 0;
}
.MuiButtonBase-root {
    color: inherit;
    border: 0;
    cursor: pointer;
    margin: 0;
    display: inline-flex;
    outline: 0;
    padding: 0;
    position: relative;
    align-items: center;
    border-radius: 0;
    vertical-align: middle;
    -moz-appearance: none;
    -ms-user-select: none;
    justify-content: center;
    text-decoration: none;
    background-color: transparent;
    -webkit-appearance: none;
    -webkit-tap-highlight-color: transparent;
}
.MuiListItem-root {
    width: 100%;
    display: flex;
    position: relative;
    box-sizing: border-box;
    text-align: left;
    align-items: center;
    padding-top: 8px;
    padding-bottom: 8px;
    justify-content: flex-start;
    text-decoration: none;
}
.MuiListItem-gutters {
    padding-left: 16px;
    padding-right: 16px;
}
.MuiListItem-button {
    transition: background-color 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}
.MuiMenuItem-root {
    width: auto;
    overflow: hidden;
    font-size: 1rem;
    box-sizing: border-box;
    min-height: 48px;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-weight: 400;
    line-height: 1.5;
    padding-top: 6px;
    white-space: nowrap;
    letter-spacing: 0em;
    padding-bottom: 6px;
}
/* @media all and (min-width:600px) */
.MuiMenuItem-root {
    min-height: auto;
}
.MuiListItem-root.Mui-selected, .MuiListItem-root.Mui-selected:hover {
    background-color: rgba(0, 0, 0, 0.08);
}
.MuiTouchRipple-root {
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    z-index: 0;
    overflow: hidden;
    position: absolute;
    border-radius: inherit;
    pointer-events: none;
}